<!doctype HTML>
<!-- saved from url=(0070)https://cs.uwaterloo.ca/current/programs/require/2018-2019/bcs_ai.html -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title> 2018-2019 BCS/Artificial Intelligence Option Checklist </title>
    <link href="{{ url_for('static', filename='2018-2019_BCS_AI_styles.css') }}" rel="stylesheet" type="text/css">
</head>

<body>

  <h1>2018-2019 BCS/Artificial Intelligence Checklist</h1>
 <ol>
<li>Under <strong>Required Courses</strong>, fill in forty unique courses (20 units) that you have passed.</li>  
<li>Verify that those courses also satisfy the <strong>Additional Constraints</strong>.</li>
</ol>   
    <div class="require">
    	<h2>Required Courses</h2>
  
  		<div class="left">
		<ul>         
			<li class="top-level">7.5 CS units
 			<ul>
				<li>CS 1[134]5</li>
				<li>CS 1[34]6</li>
				<li>CS 240</li>
				<li>CS 241</li>
				<li>CS 245</li>
				<li>CS 246</li>
				<li>CS 251</li>
				<li>CS 341</li>
				<li>CS 350</li>
				<li>CS 340-398; 440-489</li>
				<li>CS 340-398; 440-489</li>
				<li>CS 340-398; 440-489</li>
				<li>CS 480 or CS 485</li>
				<li>CS 486</li>
				<li>CS 492 </li> 
</ul>
</li>
<li class="top-level">4.0 Elective units
			<ul>
			 <li>&nbsp;</li>
			 <li>&nbsp;</li>
			 <li>&nbsp;</li>
			 <li>&nbsp;</li>
			 <li>&nbsp;</li>
			 <li>&nbsp;</li>
			 <li>&nbsp;</li>
			 <li>&nbsp;</li>
			</ul>
		  </li>
		</ul>
</div> <!-- left -->
		<div class="right">
			<ul>
			<li class="top-level">3.5 Math units
 				<ul>
 				<li>MATH 1[34]5</li>
 				<li>MATH 1[34]6</li>
 				<li>MATH 1[234]7</li>
 				<li>MATH 1[234]8</li>
 				<li>MATH 2[34]9 </li>
 				<li>STAT 2[34]0</li>
 				<li>STAT 2[34]1</li>
 				</ul>
			</li>
 			<li class="top-level">5.0 Non-math units
 				<ul>
				<li>Communication list I<sup>1</sup> </li>
				<li>Communication list II<sup>2</sup> </li> 
				<li>&nbsp;</li>
				<li>&nbsp;</li>		
				<li>&nbsp;</li>
				<li>&nbsp;</li>
				<li>&nbsp;</li>
				<li>&nbsp;</li>	
				<li>&nbsp;</li>
				<li>&nbsp;</li>	
			</ul>
			</li>
			</ul>
		</div> <!-- right -->
    </div> <!-- require -->
    
    <div class="constraints">
    	<h2>Additional Constraints</h2>
    	<ul>
<li class="top-level">One of ECE 380 or SE 380</li>
		<li class="top-level">Three additional courses from<sup>3</sup>:</li>
			<div class="left">
				<ul>
					<li>CO 367</li>
					<li>CO 456</li>
					<li>CO 463</li>
					<li>CO 466</li>
					<li>CS 452</li>
					<li>CS 480<sup>4</sup></li>
					<li>CS 484</li>
					<li>CS 485<sup>4</sup></li>
					<li>STAT 341</li>
					<li>STAT 440</li>
</ul>
</div>
<div class="right">
<ul>
<li>STAT 441</li>
<li>STAT 444 </li>
<li>ECE 423</li>
<li>ECE 481 </li>
<li>ECE 486 </li>  
<li>ECE 488 </li>
<li>MSCI 446</li>
<li>MTE 544</li>
<li>SYDE 372</li>
<li>SYDE 522</li>
<li>SYDE 556</li>

				</ul></div>
<div style="clear: both;"></div>

			<li class="top-level">Non-math units that satisfy <a title="2018-2019 breadth and depth requirements" href="https://cs.uwaterloo.ca/current-undergraduate-students/majors/breadth-and-depth-requirements-2018-2019">breadth and depth</a> requirements:
					<ul>
					<li>All of (breadth):
						<ul>
						<li>1.0 units from the humanities<sup>5</sup> </li>
						<li>1.0 units from the social sciences</li>
						<li>0.5 units from the pure sciences</li>
						<li>0.5 units from the pure and applied sciences</li>
 						</ul>
 					</li>
 					<li>One of (depth):
 						<ul>
 						<li>1.5 units in the same subject area with at least 0.5 units at the 3rd 
 						year level or higher</li>
						<li>1.5 units with the same subject forming a prerequisite chain of 
						length three</li>
						</ul>
					</li>
 					</ul>
 				
				</li></ul>
			</div> <!--  constraints -->

    <div id="footer">
<p><sup>1</sup>Communication List I: At least 60% in one of EMLS 101R, EMLS 102R, EMLS/ENGL 129R, ENGL 109, SPCOM 100, SPCOM 223. </p>
<p><sup>2</sup>Communication List II: One of EMLS 103R, EMLS 104R, EMLS 110R, ENGL 108B, ENGL 108D, ENGL 119, ENGL 208B, ENGL 209, ENGL 210E, ENGL 210F, ENGL 378/MTHEL 300, SPCOM 225, SPCOM 227, SPCOM 228, or an additional course from the first list. </p> 
<p><sup>3</sup>At least one of the 'three additional courses'  must be from Math and at least one from Engineering. Special topics courses (e.g., CS 489) may sometimes be appropriate for this option; interested students should see the option co-ordinator for confirmation.</p>
<p><sup>4</sup>One of CS 480 and CS 485 is required. If both courses are taken then one of them would count as one of 'three additional courses'. </p>
<p><sup>5</sup>Courses in Communication List II can satisfy both the Communication Skills Requirement and Humanities (breadth) Requirement so long as they are 1) not also in Communication List I; AND 2) are not (or cross-listed with) EMLS courses. </p>
    <p><em>Source</em>: <code>http://www.cs.uwaterloo.ca/current/programs/require/2018-2019/bcs__ai.html</code></p>
    <p><em>Disclaimer</em>: This checklist is a handy tool, but it is not a substitute for the official degree regulations. If there is 
a question of interpretation or a discrepancy, the University Calendar always takes precedence.
</p>
    </div> 
    
    <p class="clear">



</p></body></html>